 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>After 5 years of learning how to build good software I'm now on a journey to find out which systems to build in the first place. By learning the foundations of human centred design I aim to make good products and hereby empower people. I love to make people do things they couldn't do before. Those products need to be well designed, on the technical side, but maybe more importantly on the human side of things.</p>

                </div>
                <div class="col-lg-4">
                  <p>In UX projects I find myself especially engaged in the analysis of the problem phase,      doing research, conducting evaluations and obviously developing high-fidelity, interactive prototypes. Besides my web development experience I have used Axure for interactive wireframes and Arduino for hardware prototyping. I also enjoy the process of creating a concept. However, altough having a decent sense for design I don't consider myself as a visual designer.</p>
                  <ul>
                    <li>Learning
                    <li>Coding
                  </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-pdf-o"></i> Curriculum Vitae as PDF
                    </a>
                </div>
            </div>
        </div>
    </section>
