 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Meike. I was born in Germany, studied Computer Science with Media in Hamburg before I started working as a Software Developer at blau Mobilfunk in Hamburg.</p>
                    I love
                    <ul>
                      <li>Learning
                      <li>Coding
                    </ul>
                </div>
                <div class="col-lg-4">
                    <p>After 5 years of learning how to build good software I'm now on a journey to find out which systems to build in the first place. By learning the foundations of human centred design I aim to make good products and hereby empower people. I love to make people do things they couldn't do before. Those products need to be well designed, on the technical side, but maybe more importantly on the human side of things.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="cv.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-pdf-o"></i> Curriculum Vitae as PDF
                    </a>
                </div>
            </div>
        </div>
    </section>
