<!-- Skills Section -->
   <section id="thoughts">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Thoughts</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-4 col-lg-offset-2">
                   <p>
                     I'm a very curious person that loves to learn something new every day. Thus, besides studying HCI, I started to learn Swedish when I moved to Sweden. Lately, I have started to understand most of normal conversations. It's very interesting to see how much more insights into a culture one gets when not having to rely on translation of others.
               </div>
               <div class="col-lg-4">
                 <p>I realised that the ability to dive into a certain culture and create a deeper understanding is something which is important for becoming a designer as well. It's not enough to directly ask users what they want. Only if the designer and the humans they're are designing for, start speaking the same "language", they can come up with ideas for products that can make an impact.</p>
               </div>
           </div>
       </div>
   </section>
