/*add focus description to portfolio thumbnails*/
.skills p {
    color: white;
    font-size: 14px;
    padding: 5px 10px 10px 13px;
    width: 100%;
}

.skills ul li {
    margin-bottom: 15px;
}

.skill {
    background: none repeat scroll 0 0 #{{ site.color.secondary }};
    height: 31px;
}

.prototype {
  width: 340px;
}

.research {
  width: 260px;
}

.ux {
  width: 220px;
}

.interaction {
  width: 180px;
}

.visual {
  width: 101px;
}

.usability {
  width: 220px;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
}

header .intro-text .name {
  font-family: "Merriweather","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
}

.navbar {
  font-family: "Merriweather","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: none;
  font-size:18px;
}

.portfolio-item .focus {
  margin-top: 10px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -30px;
}

.img-mobilescreen {
  height: 400px;
  margin: 2%
}

.portfolio-summary {
  margin-top: 15px;
}

.wikimedia {
  /* Location of the image */
  background-image: url(img/whiteboard_raw.jpg);
  background-position: center center; /*calc(-456px)*/
}

.github {
  /* Location of the image */
  background-image: url(img/portfolio/github.png);
  background-position: center calc(-186px);
}

.arduino {
  /* Location of the image */
  background-image: url(img/portfolio/arduino_large.jpg);
  background-position: center bottom;/*calc(-637px)*/
}

figcaption {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.btn-outline.resume {
    border: solid 2px #{{ site.color.secondary }};
    color: #{{ site.color.secondary }};
}

.btn-outline.resume:hover,
.btn-outline.resume:focus,
.btn-outline.resume:active,
.btn-outline.resume.active {
    border: solid 2px #{{ site.color.secondary }};
    color: #fff ;
    background: #{{ site.color.secondary }};
}

#background-image {
  /* Background image is centered vertically and horizontally at all times */


  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  height: 200px;

  margin: 17px 0;
}

/*responsive video from https://gist.github.com/jgarber/2302238 */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 35px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}
